# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Michael Kramer\PycharmProjects\armyproducer\.idea/dataSources/
/dataSources.local.xml
